{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Authentication forms">
  <meta name="author" content="Arasari Studio">
  <title>Sign Up | Portfolio Management System</title>
  <link href="{% static 'account/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'account/css/common.css' %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700&amp;display=swap" rel="stylesheet">
  <link href="{% static 'account/css/theme-03.css' %}" rel="stylesheet">
</head>
<body>
  <div class="forny-container">
    <div class="forny-inner">
      <div class="forny-form">
        <div class="mb-8 text-center forny-logo">
          <img width=40% src="{% static 'account/img/logo.png' %}">
          <!-- <h3>Logo Placeholder</h3>  -->
        </div>
        <div class="text-center">
          <h4> ایجاد یک حساب کاربری </h4>
          <p> راه اندازی یک حساب کاربری جدید در یک دقیقه</p>
        </div>
        {% if form.errors %}
          {% for field in form %}
            {% for error in field.errors %}
              <div>
                <p class="text-danger">{{ error|escape }}</p>
              </div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div>
              <p class="text-danger">{{ error|escape }}</p>
            </div>
          {% endfor %}
        {% endif %}
        <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">{% trans "Sign Up" %} &raquo;</button>
        </form>

        <div class="text-center mt-10">
           حساب کاربری دارید؟ <a href="{% url 'account_login' %}"> از اینجا وارد شوید </a>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'account/js/jquery.min.js' %}"></script>
  <script src="{% static 'account/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'account/js/main.js' %}"></script>
  <script src="{% static 'account/js/demo.js' %}"></script>
</body>
</html>
